<a href="https://colab.research.google.com/github/justmonis/Statements-Indentation-and-Conditionals/blob/main/Statements%2C_Indentation_and_Conditionals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <u>Understanding the difference between Statements and Expressions</u>

* A Statement is an instruction that the Python interpreter can execute. We have only seen the assignment statement so far. Some other kinds of statements that we’ll see shortly are while statements, for statements, if statements, and import statements. (There are other kinds too!)


* An Expression is a combination of values, variables, operators, and calls to functions. Expressions need to be evaluated. If you ask Python to print an expression, the interpreter evaluates the expression and displays the result.

In [2]:
# Assignment statement
x = 3

In [3]:
print(1 + 1)
print(len("Hello Team AlmaBetter"))

2
21

* In this example <code>len()</code> is a built-in Python function that returns the number of characters in a string. We’ve previously seen the <code>print()</code> and the <code>type()</code> functions, so this is an example of another function!


* The evaluation of an expression produces a value, which is why expressions can appear on the right hand side of assignment statements. A value all by itself is a simple expression, and so is a variable. Evaluating a variable gives the value that the variable refers to.

In [4]:
y = 3.14

In [5]:
y

3.14

In [6]:
a = 'Mighty'
# b = a == True

In [7]:
a == True

False

* Note that when we enter the assignment statement, <code>y = 3.14 </code>, only the prompt is returned. There is no value. This is due to the fact that statements, such as the assignment statement, do not return a value. They are simply executed.

In [8]:
# Import statement
import pandas as pd

In [9]:
print(y)

3.14

In [10]:
y

3.14

* On the other hand, the result of executing the assignment statement is the creation of a reference from a variable, y, to a value, 3.14. When we execute the <code>print()</code> function working on y, we see the value that y is referring to. In fact, evaluating y by itself results in the same response.

* Instructions that a Python interpreter can execute are called statements. For example, <code>a = 1</code> is an assignment statement. <code>if</code> statement, <code>for</code> statement, <code>while</code> statement, etc. are other kinds of statements which will be discussed later.

### Multi-line Statements

* In Python, the end of a statement is marked by a newline character. But we can make a statement extend over multiple lines with the line continuation character (\).

In [11]:
x = 1
y = 2
+ 5
z = 3

In [12]:
y

2

In [14]:
a = 1 + 2 + 3 + 4 +
5 + 6+ 7+ 8+
9 + 10

SyntaxError: ignored

In [15]:
a = (1 + 2 + 3 + 4 +
5 + 6+ 7+ 8+
9 + 10)

In [16]:
a

55

In [17]:
type(a)

int

In [18]:
a = 1 + 2 + 3 + 4 + \
5 + 6+ 7+ 8+ \
9 + 10

In [ ]:
print(a)

* This is an explicit line continuation. In Python, line continuation is implied inside parentheses <code>( )</code>, brackets <code>[ ]</code>, and braces <code>{ }</code>. For instance, we can implement the above multi-line statement as:

In [19]:
my_list = [1]
my_tuple = (1,)

In [20]:
my_list, my_tuple

([1], (1,))

In [21]:
a = (1 + 2 + 3 + 4 +

     5 + 6 + 7 +
     8 + 9 + 10

SyntaxError: ignored

In [22]:
a

55

In [23]:
type(a)

int

* Here, the surrounding parentheses <code>( )</code> do the line continuation implicitly. Same is the case with <code>[ ]</code> and <code>{ }</code>. For example:

In [24]:
a = 1
b = 2

In [25]:
colors = 'Set theory is the mathematical theory of well-determined collections, called sets, of objects that are called members, or elements, of the set. Pure set theory deals exclusively with sets, so the only sets under consideration are those whose members are also sets. The theory of the hereditarily-finite sets, namely those finite sets whose elements are also finite sets, the elements of which are also finite, and so on, is formally equivalent to arithmetic. So, the essence of set theory is the study of infinite sets, and therefore it can be defined as the mathematical theory of the actual—as opposed to potential—infinite.'

In [26]:
colors = 'Set theory is the mathematical theory of well-determined collections, called sets, \
of objects that are called members, or elements, of the set. Pure set theory deals exclusively \
with sets, so the only sets under consideration are those whose members are also sets.\
The theory of the hereditarily-finite sets, namely those finite sets whose elements are also finite sets,\
 the elements of which are also finite, and so on, is formally equivalent to arithmetic. \
 So, the essence of set theory is the study of infinite sets, and \
 therefore it can be defined as the mathematical theory of the actual—as opposed to potential—infinite.'

In [27]:
colors

'Set theory is the mathematical theory of well-determined collections, called sets, of objects that are called members, or elements, of the set. Pure set theory deals exclusively with sets, so the only sets under consideration are those whose members are also sets.The theory of the hereditarily-finite sets, namely those finite sets whose elements are also finite sets, the elements of which are also finite, and so on, is formally equivalent to arithmetic.  So, the essence of set theory is the study of infinite sets, and  therefore it can be defined as the mathematical theory of the actual—as opposed to potential—infinite.'

* We can also put multiple statements in a single line using semicolons, as follows:

In [28]:
a = 1
b = 2
c = 3

In [29]:
a = 1 ; b = 2 ; c = 3

In [30]:
c

3

In [31]:
a = 1
b = 2
c = 3

In [39]:
a, b, c = [1, 'a', True], (45, 67), {'Name' : 'Monis' , 'Age' : 23}

In [33]:
a

[1, 'a', True]

In [40]:
b

(45, 67)

In [41]:
c

{'Name': 'Monis', 'Age': 23}

In [42]:
a, b = b, a

In [43]:
a

(45, 67)

In [44]:
b

[1, 'a', True]

# <u>Python Comments</u>

* Comments are very important while writing a program. They describe what is going on inside a program, so that a person looking at the source code does not have a hard time figuring it out.


* You might forget the key details of the program you just wrote in a month's time. So taking the time to explain these concepts in the form of comments is always fruitful.


* In Python, we use the hash (#) symbol to start writing a comment.


* It extends up to the newline character. Comments are for programmers to better understand a program. Python Interpreter ignores comments.

In [46]:
# This is a comment
# print('Hello')
print('Hello')

Hello

* We can have comments that extend up to multiple lines. One way is to use the hash(#) symbol at the beginning of each line. For example:

In [47]:
# This is a long comment
# and it extends
# to multiple lines

* Another way of doing this is to use triple quotes, either ''' or """.


* These triple quotes are generally used for multi-line strings. But they can be used as a multi-line comment as well. Unless they are not docstrings, they do not generate any extra code.

In [48]:
'''This is also a
perfect example of
ahjcdjh
sdjbdkjas
mnbscjsab
bkjabfa
multi-line comments'''

a = 3
print(a)

3

# <u>Indentation in Python </u>

It is important to keep a good understanding of how indentation works in Python to maintain the structure and order of your code. We will touch on this topic again when we start building out functions!

* Let's create a simple statement that says: "If a is greater than b, assign 2 to a and 4 to b"


* Take a look at how to write a simple if statement

In [50]:
 a=2
 b=1

 if a > b:
   a = 2
   b=4
print(a)
print(b)

2
4

In [51]:
a = 2
b = 1
if a > b:
  a = 2
  b = 4
  print(a)
  print(b)

2
4

In [53]:
 a=2
 b=1

 if b > a:
   a = 2
   b=4
   print(a)
   print(b)

In [54]:
 a

2

In [55]:
b

1

In [56]:
a, b = 1, 2

In [57]:
if a < b :

SyntaxError: ignored

* You'll notice that Python is less cluttered and much more readable than other languages like C or Java. How does Python manage this?


* The statement is ended with a colon, and whitespace(tab) is used (indentation) to describe what takes place in case of the statement.


* Another major difference is the lack of semicolons in Python.


* Semicolons are used to denote statement endings in many other languages, but in Python, **the end of a line is the same as the end of a statement.**


* Lastly, to end this brief overview of differences, let's take a closer look at indentation syntax in Python vs other languages:

# <u> Conditional Statements </u>

* <code>if</code> Statements in Python allows us to tell the computer to perform alternative actions based on a certain set of results.


* Verbally, we can imagine we are telling the computer:"Hey if this case happens, perform some action"


* We can then expand the idea further with <code>elif</code> and <code>else</code> statements, which allow us to tell the computer: "Hey if this case happens, perform some action. Else, if another case happens, perform some other action. Else, if *none* of the above cases happened, perform this action."


* Let's go ahead and look at the syntax format for <code>if</code> statements to get a better idea of this:

    if case1:
        perform action1
    elif case2:
        perform action2
    else:
        perform action3

In [58]:
if case1 :
  # do some action
elif case 5 :
    # another action
elif case2 :
  # do some another action
else:
  # do some yet another actio

IndentationError: ignored

In [60]:
x=20   # Statement 1 - Assignment statement

if x == 30 :
  print('x is greater than 10!')
  print(f'x is {x}')

* <code>if</code> statement evaluates the True condition

In [61]:
x=30   # Statement 1 - Assignment statement

if x == 30 :
  print('x is greater than 10!')
  print(f'x is {x}')

x is greater than 10!
x is 30

formated function_ go to google

In [62]:
x=20   # Statement 1 - Assignment statement

if x >= 30 :
  print('x is greater than 30!')
  print(f'x is {x}')
else:
  print('The condition is false')

The condition is false

In [63]:
x=20   # Statement 1 - Assignment statement

if x >= 30 :
  print('x is greater than 30!')
elif x >= 20:
  print('x is greater than 20!')
else:
  print('The condition is false')

x is greater than 20!

In [64]:
11%2

1

In [65]:
x=10   # Statement 1 - Assignment statement

if x >= 30 :
  print('x is greater than 30!')
elif x >= 20:
  print('x is greater than 20!')
else:
  print('The condition is false')

The condition is false

In [66]:
x=40   # Statement 1 - Assignment statement

if x >= 30 :
  print('x is greater than 30!')
elif x >= 20:
  print('x is greater than 20!')
else:
  print('The condition is false')

x is greater than 30!

In [67]:
x=10   # Statement 1 - Assignment statement

if x >= 30 :
  print('x is greater than 30!')
elif x >= 20:
  print('x is greater than 20!')
else:
  print('The condition is false')

print('Almabetter')

The condition is false
Almabetter

In [68]:
x == 20

False

In [69]:
if True:
  print('It was true!')

It was true!

In [70]:
if False:
  print('It was true!')

Let's add in some else logic:

In [71]:
x = False
y = True

if x:
  print('y was True!')
else:
  print('I will be printed in any case where x is not true')

I will be printed in any case where x is not true

In [72]:
x = True
y = False

if x:
  print('y was True!')
else:
  print('I will be printed in any case where x is not true')

y was True!

In [73]:
x = True
y = True

if x:
  print('y was True!')
else:
  print('I will be printed in any case where x is not true')

y was True!

* Let's get a fuller picture of how far <code>if</code>, <code>elif</code>, and <code>else</code> can take us!


* We write this out in a nested structure. Take note of how the <code>if</code>, <code>elif</code>, and <code>else</code> line up in the code. This can help you see what <code>if</code> is related to what <code>elif</code> or <code>else</code> statements.

In [74]:
city = 'Pune'

if city == 'New Delhi':
  print('Welcome to the Indian Capital')
elif city == 'Mumbai':
  print('Welcome to the Financial Capital of India!')
else:
  print('Where are you?')

Where are you?

* Note how the nested <code>if</code> statements are each checked until a True boolean causes the nested code below it to run. You should also note that you can put in as many <code>elif</code> statements as you want before you close off with an <code>else</code>.


* Let's create two more simple examples for the <code>if</code>, <code>elif</code>, and <code>else</code> statements:

In [75]:
person = 'Joe'

if person == 'John':
    print(f'Welcome {person}!')
else:
    print("Welcome, what's your name?")

Welcome, what's your name?

In [76]:
number1 = -2
number2 = 9

if number1 > 0:
  if number2 < 10 :
    print(number2 + number1)
  else:
    print("Should be greater than 10")

elif number1 < 0:
    print("Ah, that's a negative number")
else:
    print("The number is zero!")

Ah, that's a negative number

In [77]:
number1 = 7
number2 = 9

if number1 > 0:
  if number2 < 10 :
    print(number2 + number1)
  else:
    print("Should be greater than 10")

elif number1 < 0:
    print("Ah, that's a negative number")
else:
    print("The number is zero!")

16

In [78]:
number1 = 7
number2 = 11

if number1 > 0:
  if number2 < 10 :
    print(number2 + number1)
  else:
    print("Should be greater than 10")

elif number1 < 0:
    print("Ah, that's a negative number")
else:
    print("The number is zero!")

Should be greater than 10

## <u>Truthy & Falsy</u>

### A "truthy" value will satisfy the check performed by if or while statements. We use "truthy" and "falsy" to differentiate from the boolean values True and False.

### All values are considered "truthy" except for the following, which are "falsy":

* <code>None</code>
* <code>False</code>
* <code>0</code>
* <code>0.0</code>
* <code>[]</code> - an empty <code>list</code>
* <code>{}</code> - an empty <code>dict</code>
* <code>()</code> - an empty <code>tuple</code>
* <code>''</code> - an empty <code>str</code>

In [79]:
# Consider the following statement

if False:
  print("What do you say?")
else:
  print("I have nothing to say")

I have nothing to say

In [80]:
if [None]:
  print("Well I had a really bad day!")
else:
  print("Come on you aced your test.")

Well I had a really bad day!

In [81]:
if None:
  print("Well I had a really bad day!")
else:
  print("Come on you aced your test.")

Come on you aced your test.

In [82]:
if []:
  print("Well I had a really bad day!")
else:
  print("Come on you aced your test.")

Come on you aced your test.

In [83]:
if {1:2,3:4}:
  print("This is True")
else:
  print("This is False")

This is True